body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    line-height: 2;
    padding: 5px 10px;
}
.nav-links a{
    text-decoration: none;
    color:black;
}
.nav-links a:hover{
    color:#558d57 ;
}
.nav-links a .btn, .btn {
    background-color:#b0dbb2 ;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.nav-links a .btn:hover{
    background-color: #558d57;
}
#content{
    padding-left: 20px;
    flex: 1;
}
main {
    max-width: 1200px; 
    margin: 0 auto; /* Center content */
    padding: 20px 0;
}
.logo_footer{
    line-height: 1;
}
footer hr{
    border: 0;
    border-top: 1px solid #558d57;
    margin: 10px 0;
    height: 1px;
    background: #558d57;
}
footer{
    display: flex;
    background-color:#100f0d ;
    padding: 10px 0;
    text-align: left;
    color: #558d57;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.footer-nav-links{
    display: flex;
    gap: 30px;
}
footer .footer-nav-links a{
    text-decoration: none;
    color: #558d57;
    width: 100%;
}
footer .footer-nav-links a:hover{
    color: #b0dbb2;
}
.footer-up{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    width: 100%;
    box-sizing: border-box;
}
.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    width: 100%;
    box-sizing: border-box;
}
.footer-down nav .btn {
    background-color:#558d57;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.footer-down nav .btn:hover{
    background-color: #b0dbb2;
}

.subtitle{
    font-weight: bold;
    color: black;
}
h1,h2{
    color: #558d57;
    font-weight: bold;
}
.section-content,.section-content-reverse{
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.section-content-reverse{
    flex-direction: row-reverse;
}
.text-content,.image-content {
    flex: 1;
    min-width: 300px; 
}
.image-content img{
    width: 100%;
    height: auto;
}
