/* Content Card - for general section wrapping */
.content-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin-bottom: 30px;
}

/* New Card styles */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px; /* Space between cards if there are multiple */
}

.card-body {
    padding: 30px; /* Padding inside the card */
}

/* Section Titles */
.section-title {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    font-weight: 700;
}

/* Section Descriptions */
.section-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Form Styles */
.load-money-form {
    max-width: 400px; /* Limit form width for better aesthetics */
    margin: 0 auto; /* Center the form within its container */
}

.transfer-money-form{
     max-width: 400px;
    margin: 0 auto;
}
/* Form Groups */
.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #555;
}

.form-input {
    width: 95%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-input:focus {
    border-color: #007bff; /* Highlight on focus */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
}
/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.2s ease;
    align-items: center;
}
.btn-green-outline {
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
}
.btn-green-outline:hover {
    background-color: #4CAF50;
    color: #fff;
}

/* Error and Message Styling */
.messages .alert,
.form-errors {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Specific colors for ERROR messages (from messages or form validation) */
.messages .alert-error,
.form-errors {
    color: crimson; /* Dark red text */
    background-color: #f2dede; /* Light pink background */
    border-color: #ebccd1; /* Reddish border */
}

/* Specific colors for SUCCESS messages */
.messages .alert-success {
    color: #3c763d; /* Dark green text */
    background-color: #dff0d8; /* Light green background */
    border-color: #d6e9c6; /* Greenish border */
}

/* Specific colors for INFO messages */
.messages .alert-info {
    color: #31708f; /* Dark blue text */
    background-color: #d9edf7; /* Light blue background */
    border-color: #bce8f1; /* Bluish border */
}


/* Ensure paragraphs inside form error blocks have no extra margin */
.form-errors p {
    margin: 0;
}
.transaction-summary{
  background-color: #b0dbb2;
}