<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPay - Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_login.css' %}">
</head>
<body>

    <div class="container">
        
       <div class="logo-wrapper">
        <img src="{% static 'images/logo_greenbg.jpg' %}" alt="WebPay Logo" class="logo-image">
        </div>
        <h1>Welcome Back!</h1>
        <div class="subtitle">We missed you. Please enter your details.</div>

        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            
            {% if messages %}
            <div class="messages" style="color: crimson;">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
            
            {% if form.non_field_errors %}
                <div class="form-errors">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">EMAIL / USERNAME</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">PASSWORD</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            
            <div class="forgot-password">
                <a href="{% url 'users:password_reset' %}">Forgotten Password?</a>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn">LOGIN</button>
            </div>
            
            <div class="signup-link">
                Don't have an account? <a href="{% url 'users:signup' %}">Sign Up</a>
            </div>
        </form>
    </div>

</body>
</html>