<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPay - Email Sent</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_login.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-wrapper">
            <img src="{% static 'images/logo_greenbg.jpg' %}" alt="WebPay Logo" class="logo-image">
        </div>
        <h1>Check Your Inbox</h1>
        <div class="subtitle">
            <p>We've emailed you instructions for setting your password. If an account with that email exists, you should receive it shortly.</p>
            <p>If you don't see the email, please check your spam folder.</p>
        </div>
    </div>
</body>
</html>